[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ipdb = "*"


[packages]

gunicorn = "==19.7.1"
Flask = "==0.12.1"
flask_cors = "==3.0.3"
pandas = "==0.22.0"

[requires]

python_version = "3.6"
